@import "src/app/variables.scss";

$preview-padding: $aleph-grid-size*1.5;

.EntityPreview {
  &__overlay-container .bp3-overlay-container {
    right: 0;
    left: auto;
  }

  & .InfoPane {
    padding: $preview-padding;
    overflow-y: scroll;
  }

  .info-tabs-padding {
    padding: $preview-padding 0;
  }

  .pane-heading {
    background-color: $aleph-breadcrumbs-background;
    padding: $aleph-grid-size*4 $aleph-grid-size*2;
    border: none;
  }

  .bp3-drawer-header {
    padding: 0 $aleph-grid-size/2;
    box-shadow: 0 1px 2px rgba(16, 22, 26, 0.15);

    .bp3-heading {
      margin: 0 !important;
    }
  }
}
