@import "src/app/variables.scss";

.Breadcrumbs {
  z-index: 1;
  padding: $aleph-grid-size/2 $aleph-grid-size*3;
  display: flex;
  justify-content: space-between;
  background-color: $aleph-breadcrumbs-background;

  .bp3-breadcrumbs > li::after {
    margin: 0 10px;
  }

  .bp3-breadcrumb {
    font-size: $aleph-font-size;

    .bp3-icon {
      margin-right: $aleph-icon-padding;
    }
  }

  .bp3-breadcrumb-current {
    pointer-events: none;
    color: $blue1;
  }
}
